# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/



# Formatting

| This | Is | A | Table |
| --- | --- | --- | --- |
| It's | Pretty | Frickin' | Cool |

:::callout[info]
This is a cool thing about another cool thing.
:::

:::callout[warning]
This is less cool. uh oh
:::

:::callout[error]
VERY NOT COOL
:::

:::callout[success]
this is chill
:::