<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button id="menu-button" type="button" class="relative inline-flex items-center justify-end rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-end ml-[44px] sm:ml-0 sm:justify-start">
                <a href="/" class="flex shrink-0 items-center text-white">
                    <svg class="h-8 w-auto" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="32px" height="32px" fill="currentColor">
                        <path d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z"/>
                    </svg>
                </a>
            </div>
            <div class="flex flex-1 items-center sm:items-stretch justify-end">
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="https://linkedin.com/in/kaihkashan" target="_blank" class="rounded-md text-gray-300 hover:bg-gray-700 px-3 py-2 text-sm font-medium hover:text-white" aria-current="page">Connect with me</a>
                        <a href="/CV-KaihkashanNakhuda.pdf" target="_blank" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Download my CV</a>
                        <a href="mailto:kaihkashan.n@gmail.com" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Email me</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2">
                <a href="https://linkedin.com/in/kaihkashan" target="_blank" class="block rounded-md text-gray-300 hover:bg-gray-700 px-3 py-2 text-base font-medium hover:text-white" aria-current="page">Connect with me</a>
                <a href="/CV-KaihkashanNakhuda.pdf" target="_blank" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Download my CV</a>
                <a href="mailto:kaihkashan.n@gmail.com" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Email me</a>
            </div>
        </div>
    </div>
</nav>

<script>
    const toggleButton = document.getElementById(
        "menu-button",
    ) as HTMLButtonElement;
    const mobileMenu = document.getElementById("mobile-menu");

    const toggleMenu = () => {
        mobileMenu?.classList.toggle("hidden");
    };

    toggleButton!.addEventListener("click", toggleMenu);
</script>