---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("writing");
    return posts.map(post => ({
        params: { id: post.id },
        props: { post }
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
    <div class="     bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
            <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl mb-8">{post.data.title}</h1>
            <div class="relative isolate pt-14">
                <div class="py-24 sm:py-32 lg:pb-40">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mt-16 flow-root sm:mt-24">
                            <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
                                <img src="" alt="App screenshot" width="2432" height="1442" class="rounded-md shadow-2xl ring-1 ring-gray-900/10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <Content />
        </div>
    </div>
</Layout>

<style>
    p {
        @apply mt-8;
    }

    ul {
        @apply mt-8 max-w-xl space-y-8 text-gray-600 list-decimal;
    }

    li {
        @apply flex gap-x-3;
    }

    h2 {
        @apply mt-16 text-pretty text-3xl font-semibold tracking-tight text-gray-900;
    }

    figure {
        @apply mt-16;
    }

    img {
        @apply aspect-video rounded-xl bg-gray-50 object-cover;
    }

    img figcaption {
        @apply mt-4 flex gap-x-2 text-sm/6 text-gray-500;
    }

    img figcaption svg {
        @apply mt-0.5 size-5 flex-none text-gray-300;
    }

    blockquote {
        @apply font-semibold text-gray-900;
    }
</style>